*{
    padding:0; margin:0;
    box-sizing: border-box;font-family: sans-serif;
}
header{
    width:100%;
    height: 100vh;
}
nav{
    width:100%;
    height:70px;
    border-Bottom:1px solid gray;
    box-shadow: 2px 0px 5px grey;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background: black;

}.nav_link {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.nav_link {
    height: 100%;
}

.nav_link ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav_link li {
    list-style: none;
}

.nav_link li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.nav_link li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .nav_link {
        display: none;
        width: 100%;
    }

    .nav_link {
        width: 100%;
        flex-direction: column;
    }

    .nav_link ul li {
        text-align: center;
    }

    .nav_link ul li a {
        padding: .5rem 1rem;
    }

    .nav_link.active {
        display: flex;
    }
    .column{
        width:100%;
    
    }
    .left{
        width:100%;
       

    }
    .left img{
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }
    .right{
        display: block;
        width:100%;
        font-size: 20px;
        
    }
    
}
.last{
    background: orangered;
    color:white;
    border:2px orangered;
    padding: 10px;
   


}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform-origin: center;
    perspective: 2000px;
}
.left{
    flex-basis: 50%;
    animation: animate 3s linear infinite;
    margin-top:30px;
    margin-left: 50px;
    padding: 10px;

}
@keyframes animate{
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

.right{
    flex-basis: 50%;
    
}
.right h1{
    font-size:50px;
}
.right p{
    font-size:25px;
    margin:20px 10px;
}
button{
    background: black;
    color:white;
    font-weight:bold;
    border:none;
     outline: none;
     
     padding :10px 20px;
   
    

}
#featured{
    
    padding: 50px 0px;
    font-size:40px;
    text-align: center;

}
.wrapper{
    display: grid;
    grid-template-columns: repeat(4,20%);
    grid-auto-rows: minmax(200px,auto);
    grid-gap: 1em;

}
html{
    scroll-behavior: smooth;
}
.wrapper> div{
    border:1px solid grey;
    position:relative;

}
.wrapper> div img{
    width:200px;
  
    justify-content: center;
}
.box1{
    grid-row: 1/3;
    grid-column: 1/3;
    margin-left:50px;
   
}
.price{
    position :absolute;
    top:0;
    left:0;
    background: orangered;
    color:white;
   
    font-size: 20px;

}
.wrapper> div img:hover{
    transform:scale(1.2);
    transition: 0.4s linear;
}
.s1 p{
    background:black;
    color:white;
    margin:30px 100px;
}
.s1 h1{
    text-align: center;
    
    margin:20px;
}

.column{
    flex:25%;
    padding:5px;

}
.row{
    display: flex;
}
.column h2{
    padding:5px 10px;
    box-sizing: border-box;
  
    
}

#f1{
align-items: center;
text-align: center;
   
    color:orangered;
    padding: 10px;
    margin-left:20px;
    margin-top:40px;
}
